In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error
import joblib
import pickle

In [2]:
data = pd.read_csv("Housing.csv")

In [3]:
data.head()

,Squareft,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Squareft                      5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [5]:
X = data[["Squareft"]]

In [6]:
y = data["Price"]

In [7]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)

In [8]:
train_X.shape

(3500, 1)

In [9]:
test_X.shape

(1500, 1)

In [10]:
model = LinearRegression()
model.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
train_pred = model.predict(train_X)
test_pred = model.predict(test_X)

In [12]:
print("Train MAE = ", mean_absolute_error(train_y, train_pred))
print("Test MAE = ", mean_absolute_error(test_y, test_pred))

Train MAE =  218921.1764827731
Test MAE =  213642.13011759846

In [13]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [14]:
lmodel = joblib.load('model.pkl')

In [16]:
lmodel.predict([[100]])

array([-212618.11110198])